<!-- <div>
  <figure class="absolute-bg preview__img" style="background-image: url('https://i.imgur.com/cO3Bs3e.png');"></figure>
</div> -->
<div class='tab'>
  <div style="padding: 50px 60px 50px 60px;">
    <h1 style="text-align: center; font-family:'Bungee Inline', cursive"><mark>Projects</mark></h1>
    <br>
    <h2><a href="">Learn Data Science</a></h2>
    <p>
      In <a href=""><u>this category</u></a> I write down everytime I learn something new about Data Science.
      Check out this <a href="https://github.com/SangwookCheon/non-e-stop-python-data-science"><u>GitHub repository</u></a> containing All
      the learning resources.
    </p>
    <br>
    <h2>Key Projects</h2>
    <p>If I had to choose only <b>5 projects</b> that I cannot wait to show you:</p>
    <p><mark style="padding: 0px"><b>Project 1:</b></mark> Project description</p>
    <p>Check out more projects on <a href=""><u>Projects category</u></a> of this website.</p>
  </div>
  {% include archive-link.html %}
</div>
